#main-wrapper{
    height: 100svh;
    padding: 3rem 7rem;

}

.book-container{
    display: flex;
    flex-direction: column;

}

.library-header{
    display: flex;
    flex-direction: column;

}

.book-shelf{
    display: grid;
    resize: both;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

#number1{
    background-color: blue;
    color: rgb(2, 2, 23);
}